@tailwind base;
@tailwind components;
@tailwind utilities;

/* ライトモード */
:root {
  /* 文字：黒 */
  --foreground-rgb: 0, 0, 0;
  /* 背景：白 */
  --background-end-rgb: 255, 255, 255;
}

/* ダークモード */
@media (prefers-color-scheme: dark) {
  :root {
    /* 文字：黒 */
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    /* 背景：白 */
    --background-end-rgb: 0, 0, 0;
  }
}

/* ウェブページ全体 */
body {
  /* 文字色 */
  color: rgb(var(--foreground-rgb));
  /* 背景色 */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
